In [1]:
import pandas as pd

In [2]:
greenhouse_df = pd.read_csv("/Users/miyuki/Documents/Greenhouse-gas/greenhouse-gas-emissions-by-region-industry-and-household-year-ended-2022.csv")

In [3]:
greenhouse_df.head()

,region,anzsic_descriptor,sub_industry,household_category,gas,units,magnitude,year,data_val
0,Auckland,"Forestry and logging, fishing, and agricultura...",Total,Total,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2007,45.92
1,Auckland,"Forestry and logging, fishing, and agricultura...",Total,Total,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2008,45.88
2,Auckland,"Forestry and logging, fishing, and agricultura...",Total,Total,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2009,43.71
3,Auckland,"Forestry and logging, fishing, and agricultura...",Total,Total,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2010,39.61
4,Auckland,"Forestry and logging, fishing, and agricultura...",Total,Total,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2011,40.99

In [4]:
greenhouse_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7369 entries, 0 to 7368
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              7369 non-null   object
 1   anzsic_descriptor   7369 non-null   object
 2   sub_industry        7369 non-null   object
 3   household_category  7369 non-null   object
 4   gas                 7369 non-null   object
 5   units               7369 non-null   object
 6   magnitude           7369 non-null   object
 7   year                7369 non-null   int64
 8   data_val            7369 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 518.3+ KB

In [5]:
greenhouse_df.describe()

             year      data_val
count  7369.00000   7369.000000
mean   2014.36260    950.204184
std       4.53792   1958.706660
min    2007.00000      0.290000
25%    2010.00000     35.990000
50%    2014.00000    143.210000
75%    2018.00000    848.500000
max    2022.00000  16707.340000

In [6]:
greenhouse_df.duplicated().sum()

0

In [7]:
greenhouse_df.nunique()

region                  17
anzsic_descriptor       19
sub_industry             5
household_category       4
gas                      5
units                    1
magnitude                1
year                    16
data_val              6741
dtype: int64